body {
  font-family: sans-serif;
  background-color: white;
  width: auto;
  margin: auto;
}

header {
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_option {
  color: #adb6be;
  font-size: 16px;
}

main {
  padding: 15px 30px 15px 30px;
  display: flex;
}

.main_left {
  flex-flow: column;
  width: 15%;
  padding-top: 16px;
  padding-right: 20px;
}

.about {
  background-color: #f8f9fa;
  padding: 20px 10px 20px 10px;
}

.archives {
  padding: 20px 10px 20px 10px;
}

.main_left_title {
  margin-block-end: 0;
  font-style: italic;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.main_middle {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.img {
  width: 100%;
}

.article {
  margin-inline-start: 0;
  margin-inline-end: 0;
  border: #f9f9f9 1px solid;
  box-shadow: #ccc 0 0 5px 0;
}

.article2 {
  margin-left: 15px;
}

.article_content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.view_details {
  color: #3a91ff;
}

.column_left {
  width: 50%;
}

.column_right {
  width: 50%;
}

aside {
  align-self: center;
  width: 15%;
  margin-left: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.input_box {
  border: #cccccc 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input {
  border: none;
  padding: 15px;
  width: 170px;
}

.input_email {
  border-radius: 5px 5px 0 0;
}

.input_password {
  border-top: #cccccc 1px solid;
  border-radius: 0 0 5px 5px;
}

.checkbox {
  margin-right: 8px;
}

.sign-in {
  width: 200px;
  height: 40px;
  background-color: #017bff;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
}

footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  color: #a6a6a6;
  text-align: center;
}
