body {
  font-family: sans-serif;
  background-color: white;
  width: auto;
  margin: auto;
}

header {
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-option {
  color: #adb6be;
  font-size: 16px;
}
